/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
	width: 100%;
	
}
header h1 {margin: 0;
background-color: #152269;
color: white;
width: 100%;}

header h2 {
	margin: 0; font-weight: normal;font-size: 1.2em;

}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #152269;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {border-bottom: solid 1px #333;}
nav ul li a {
    display: block;
    background-color:#152269;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
	border: black solid 3px;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
	background-color: lightskyblue;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #152269;
    padding: .5rem 2%;
    text-align: center;
	color: white;
}
