.root
{

	/********* colors *********/
	/*****primary palatte colors*****/
	/***base values below off these defaulats***/
	/** wine, dark blue, sky blue, grey, dark grey, light grey, white, black***/
	--color-primary-base: #23011c;
	--color-secondary-base: #3e0c55;
	--color-tertiary-base: #53031b;
	--color-quaternary-base: #5f0468;
	--color-quinary-base: #f00e0e;
	--color-senary-base: #9b1e1e;
	--color-septenary-base: #6d1818;
	--color-octonary-base: #7c0b0b;
	--color-accent1-base: #0a5893;
	--color-accent2-base: #f20707;
	--color-accent3-base: #2019f6;
	--color-accent4-base: #e72be7;

	--color-hover-base: #f4dd10;
	--color-active-base: #d82929;
	--color-focus-base: #18a206;
	--color-visited-base: #a9a5a5;

	/***primary color values***/
	--color-wine-dark: #1f011b;
	--color-wine-mid: #780369;
	/***secondary color values***/
	--color-blue-dark: #09043e;
	--color-blue-mid: #180a92;
	--color-blue-light: #2811f3;


	/***quinary color values***/
	--color-z-dark: #0a043e;
	--color-z-mid: #0a043e;
	/*******header- footer- banners- headings colors*********/
	/*
	--color-footer: #210152;
	--color-header-text: #f2fafa;
	--color-header: var(--color--wine-dark) #210152;
	--color-headings: rgb(47, 68,
			173);
	--color-headings-text: #fbfcfc;
	--color-banners: #2c0f57;
*/


	/*******Font Family*********/
	--font-family: 'Robato', 'Tangerine', Times New 'Roman', serif;
	--font-size-text: 1.5em;
	--font-size-headings: 2em;
	--font-size-subheadings: 1.5em;
	--font-size-footer: 1em;
	--font-size-header: 2em;
	--font-size-aside: 1.5em;
	--font-size-banners: 1.5em;
	--font-size-navigation: 1.5em;
	--font-size-card: 1.5em;
	--font-size-card-subheadings: 1.5em;
}

.lato-thin
{
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.lato-light
{
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.lato-regular
{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lato-bold
{
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.lato-black
{
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.lato-thin-italic
{
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.lato-light-italic
{
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.lato-regular-italic
{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.lato-bold-italic
{
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.lato-black-italic
{
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: italic;
}



/*************default values*************/
body
{
	margin: 0;
	display: grid;
	max-width: 1000px;
}

section:nth-child(1)
{
	font-family: 'Crimson Pro', serif;
	font-size: 1.4em;
}

section:nth-child(2)
{
	font-family: 'Literata', serif;

}


li
{
	list-style: none;
	text-decoration: none;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	color: black;
}

ul
{
	list-style: none;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	text-align: center;

}

h1 h2 h3 h4 h5 h6
{
	font-family: Robato, Times, serif;
	background-color: #53031b;
	color: #ffffff;
	text-align: center;
	margin: 0;
	font-size: 1em;
}

/********* default values ***********/
/* Apply to a specific class */
.clickable-element
{
	cursor: pointer;
}

/* Apply to all links */
a
{
	cursor: pointer;
}

/* Apply on hover to a table row */
/*tr:hover
{
	cursor: pointer;
}
*'
/********************Header****************************/

.header-container
{
	background-color: #53031b;
	width: 100%;
	text-align: center;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	min-height: 100px;
}



#course-title
{

	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.4em;
}

/********************Navigation****************************/

.navigation-menu-item
{
	background-color: #53031b;
	display: flex;
	flex-flow: row wrap;
	text-decoration: none;
	list-style: none;
	margin-bottom: 20px;
}

.navigation-menu-item a
{
	text-decoration: none;
	list-style: none;
	border: #474344 1px solid;
	padding: .2em;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	color: rgb(255, 255, 255);
	background-color: #160107;
	min-width: 45px;
	min-height: 45px;
}

.navigation-menu-item a:hover
{
	text-decoration: underline;

	color: rgb(248, 190, 15);
}

/********************MAIN***************************/

main
{
	background-color: #78b3ef;

}

.name
{
	margin: 0;

	width: 100%;
	text-align: center;
	background-color: #78b3ef;
	color: #02033a;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: italic;
	font-size: 3em;

}

.card-container
{
	display: flex;
	grid-template-columns: 1fr 150px;
	background-color: #e0e9f9;
	/* Example fixed width for cards */

}


.card1
{

	color: rgb(12, 12, 12);
	text-align: center;
	margin: 10px;
	display: grid;
	grid-template-areas: "heading heading"
		"card1p1 card1-img1"
		". card1p1a "
		"card1-img2 card1p2";
}


.card1 h3
{
	grid-area: heading;
	font-size: 2em;
	color: #53031b;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
	width: 100%;

}

.card1p1
{

	grid-area: card1p1;
	text-align: center;
	margin-bottom: 5px;
	padding: bottom 75px;
	px;

	color: black;

	border-bottom: #2019f6 2px solid;

}

.card1-img1
{
	grid-area: card1-img1;
	width: 100%;
	text-align: center;
	color: black;

}

.card1p1a
{

	grid-area: card1p1a;
	text-align: center;
	padding: 45px;
	color: black;
	border-bottom: #2019f6 2px solid;

}


.card1-img2
{
	grid-area: card1-img2;
	width: 100%;
	text-align: center;
	color: black;
}

.card1p2
{

	grid-area: card1p2;
	text-align: center;
	color: rgb(123, 33, 33);
	border-bottom: 5px solid #ff9800;
	/* Orange left border */
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/************section2*****************/
.card2
{

	color: rgb(12, 12, 12);
	text-align: center;
	margin: 35px;

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	background-color: #a9cff5;
	padding: 20px;
	color: #53031b;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	font-style: normal;
	width: 100%;

}

.card2 h3
{
	text-align: center;
	color: #53031b;
	font-size: 2em;
	border-bottom: #06003d 4px solid;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

.list-img
{
	grid-area: image;
	place-items: center;
	align-items: center;
	text-align: center;
	border: #0a043e 4px solid;

}

.list-image:hover
{
	background-color: #23011c;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
	cursor: pointer;

}

.resource-list
{
	display: grid;
	text-decoration: none;
	color: #2811f3;
}


.resource-list a:hover
{
	text-decoration: underline;
	color: rgb(3, 5, 63);
	font-size: larger;
}

.resource-list a:visited
{
	color: rgb(138, 18, 18);
	text-decoration: none;
	list-style: none;
	font-weight: bold;

}

/********************Footer****************************/
.footer-container
{
	display: grid;
	text-align: center;
	font-weight: bold;

	background-color: #06003d;
	width: 100%;
	color: #78b3ef;


}


.copy-dates
{
	text-align: center;
	display: grid;
	grid-template-areas: "copy"
		"modify";
	margin: 0;
	font-size: 1.2em;
	min-height: 75px;
}

.copy
{
	grid-area: copy;
	margin: .2em;
}

.modify
{
	grid-area: modify;
	margin: .2em;
}