/* Larger screens: Display cards to the right of the form */
/*960-1024px*/
/*media Query for large screen*/

@media screen and (min-width: 53rem)
/***53rem or 640px*/
{


	.header-container
	{
		text-align: center;
	}

	.navigation-container
	{
		display: grid;
	}

	.navigation-menu-item
	{
		display: block;
	}

	.navigation-menu-item a
	{
		float: left;
		color: #f2f2f2;
		text-align: center;
		margin: 10px;
		text-decoration: none;
		font-size: 17px;
		min-width: 45px;
	}

	#hamb-btn
	{
		display: none;
	}

	h1
	{
		font-size: 1em;
	}

	h2
	{
		font-size: 1.4em;
	}

	h3
	{
		font-size: 1em;
	}

	h4
	{
		font-size: 1.4em;
	}

	p
	{
		font-size: larger;
	}

	.card-container
	{
		display: grid;
		grid-template-columns: repeat(3, 300px);
	}

	.figure-caption
	{
		width: 100%;
	}

	figure img
	{
		width: 100%;
		border: thick #400106 solid;
	}

	.temp-hdg
	{
		margin-bottom: 5px;
	}

	figcaption
	{
		margin-top: 5px;
	}


	.footer-container
	{
		display: grid;
		grid-template-areas: "copy-date modify";
		gap: 5px;
	}

	.copy
	{
		grid-area: copy-date;
		color: white;
	}

	.modify
	{
		grid-area: modify;
		color: white;
	}
}